*{
    box-sizing: border-box;

} 

@font-face {
    font-family: "TT lakes";
    src: url(./assets/TTLakes-Thin.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body{
    background: #F8F8F8;
    font-family: "TT lakes";
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main{
    padding: 20px 24px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.header{
    max-width: 1096px;
    margin-top: 20px;
}

.header__title{
    border-left: 2px solid #41F6D7;
    font-weight: 700;
    font-size: 28px;
    padding-left: 25px;
}

.header__items{
    display: flex;
    justify-content: space-between;
}

.header__items_right{
    display: flex;
    align-items: center;
}

.checkstatus{
    margin-left: 10px;
}

.repair, .checkstatus{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header__items_right a{
    color: #1B1C21;
    font-size: 16px;
    font-weight: 700;
}

.header__items_right img{
    margin-left: 8px;
}

.menu{
    max-width: 1063px;
}

.menu__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu__buttons{
    color: #7E7E82;
    border:  hidden;
    padding: 10px 30px;
}

.menu__buttons:hover{
    border: 2px solid #B8FFEC;
    border-radius: 5px;
}

.info{
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    margin-top: 50px;
    padding-left: 25px;
}

.info__text__block{
    max-width: 490px;
}

.info__text p{
    font-size: 14px;
    font-weight: 400;
    color: #1B1C21;
}

.info__img__blok{
    max-width: 531px;
    padding: 10px;
}

.readmore{
    display: flex;
    align-items: center;
}

.mobile__nav{
    display: flex;
    max-width: 768px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    display: none;
    box-shadow: 0px 2px 1px #D9FFF5;
}

.mobile__items_left, .mobile__items_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider{
    padding: 32px 2px;
}

.mobile__nav img{
    margin: 0 10px;
}

.info__text__block .info__text{
    font-weight: 700;
}

/* Адаптив */

@media (min-width: 1120px) and (max-width: 2560px){
    /* .main{
        width: 100%;
    } */
}

@media only screen and (min-width: 768px) and (max-width: 1119px){

    .main{
        max-width: 768px;
    }

    .header__items_right{
        display: none;
    }

    .mobile__nav{
        display: flex;
        width: 768px;
    }

    .menu{
       overflow-x: scroll;
       padding: 20px 10px;
    }

    .info{
        margin-top: 20px;
    }

    .menu__items{
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-left: 0px;
        width: 953px;
    }
    .info__img__blok img, .info__img__blok{
        max-width: 360px;
    }

    .info__text__block{
        max-width: 312px;
        height: 190px;
        overflow: hidden;
    }

    .menu__buttons{
        padding: 10px 15px;
        margin-left: 5px;
    }
/* 
    .menu__buttons:first-child{
        margin-left: 0px;
    } */

    .readmore{
        margin-top: 10px;
    }
    

}

@media only screen and (min-width: 320px) and (max-width: 767px){

      .header__items_right, .divider{
        display: none;
    }

    .mobile__nav{
        display: flex;
        max-width: 767px;
        width: 100%;
    }

    .mobile__nav{
        max-width: 767px;
    }

    .main{
        max-width: 767px;
    }

    .info{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .info__text__block {
        max-width: 320px;
    }

    .info__text__block .info__text{
        font-size: 11px;
    }

    .readmore span{
        font-size: 12px;
    }

    .readmore img{
        width: 20px;
    }

    .info__img__blok img, .info__img__blok{
        max-width: 310px;
        padding: 0;
        margin-top: 8px;
    }

    .hide{
        display: none;
    }

    .menu__items{
        width: 1099px;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-left: 0px;
    }

    .menu{
       padding: 20px 10px;
       overflow-x: scroll;
       width: 320px;

    }

}